@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #EBCEBE;
  --primary-hover:  #D9BFB0;
  --disabled: #ccc;
  --dark: #333;
  --positive: #166534;
  --negative: #f87171;
}

button {
	padding: 2px 8px;
	border: 0px;
	border-radius: 4px;
  cursor: pointer;
}

button>label {
  cursor: pointer;
}

button:hover {
  transition: 0.3s;
}

button.action-button:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  height: 100%;
}

.status-success {
  color: var(--positive);
}

.status-error {
  color: var(--negative);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
